.avatar {
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 2px;
}

/* header */

.col-lg-12 {
    text-align: center;
}

/* tables */

th {
    text-align: center;
}

table tr td {
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle !important;
}

/* table links */
a,
a:hover,
a:focus {
    text-decoration: none !important;
}

tr.hover {
    cursor: pointer;
}

/* pager */

.litebans-pager {
    font-size: 30px;
}

.litebans-pager-number {
    margin-top: 32px;
    text-align: center;
    font-size: 15px;
}

.litebans-pager-left {
    float: left;
}

.litebans-pager-right {
    float: right;
}

.litebans-pager-active {
    color: darkcyan;
}

.litebans-pager-inactive {
    color: transparent;
}

/* index.php */
.litebans-index {
    text-align: center;
}

/* info.php */
.litebans-label-info {
    margin-left: 13px;
    font-size: 17px;
}

/* history.php */
.litebans-label-history {
    font-size: 13px;
}

.litebans-label-ban {
    background-color: darkred;
}

.litebans-label-mute {
    background-color: dimgrey;
}

.litebans-label-warn {
    background-color: darkorange;
}

.litebans-label-kick {
    background-color: tomato;
}

/* prevent mouse selection */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
